.box{
    width: 48%;
    height: auto;
    /* background-color: rgb(0, 0, 0); */
    position: absolute;
    top: 100px;
    left: 50%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgb(51, 51, 51);
}

.box .box__add{
    width: 100%;
    height: 60px;
    
    background-color: rgb(93, 93, 93);
}
.box .box__add input[type=text] {
    outline-width: 0ch;
    border-style: none;
    width: 80%;
    height: 60px;   
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4px;
    text-align: center;
}

 ::placeholder{
    color: rgba(189, 189, 189, 0.788);
}

.box .box__add #box__add--button{
    width: 15%;
    height: 60px;
    outline-width: 0;
    float: right;
    border-style: none;
    background-color: rgba(82, 67, 35, 0.883);
    color: rgba(224, 224, 224, 0.829);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    cursor: pointer;
}

.box .box__add #box__add--button:hover{
    background-color: rgb(190, 153, 72) ;
    color: white;
}

#box__inject li{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(179, 179, 179);
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    padding-left: 20px;
    text-transform: capitalize;
    cursor: pointer;
      
}

#box__inject li:nth-child(odd) {
    background: #d6d6d6;
  }
  

  #box__inject li:hover{
      background-color: rgba(85, 85, 85, 0.678);
  }

  #box__inject li span{
      float: right;
      margin-right: 20px;
      padding-left: 20px;
      padding-right: 20px;
       font-size: 18px;
       color: white;
      background-color: rgb(126, 9, 9);
      border-radius: 3px;
      box-shadow: 2px 2px 4px rgb(37, 37, 37);
  }


  #box__inject li span:hover{
      background-color: rgb(190, 0, 0);
  }






















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































